<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<h3>Random lokacije</h3>
<!--<div id="map"></div>
<script>
    function initMap() {
        var uluru = {lat: 43.8538258, lng: 18.3947093};
        var noviMarker = {lat: 44.202443, lng: 17.8979633};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
        var marker2 = new google.maps.Marker({
            position: noviMarker,
            map : map
        });
        google.maps.event.addListener(map,'click',function (event) {
            placeMarker(event.latlng);

        });

        function placeMarker(location){
            var marker = new google.map.marker({
                position :location,
                map: map
            });
        }
    }
</script>-->
<div id="map"></div>
<script>
    var lokacije = [
        {   lat: 43.852839,
            lng:18.390548
        },
        {
            lat:43.8555935,
            lng:18.3970463
        },
        {
            lat:43.854873,
            lng:18.3999042
        },
        {
            lat:43.854857,
            lng:18.399617
        },
        {
            lat:43.853973,
            lng:18.396273
        },
        {
            lat:43.855228,
            lng:18.397552
        },
        {
            lat:43.855034,
            lng:18.400878
        },
        {
            lat:43.854315,
            lng:18.398764
        }
    ];
    var marker = [];
    var map;
    var mojaLokacija;

    function dodajMarker(pozicija, timeout){
        setTimeout(function() {
            marker.push(new google.maps.Marker({
                position: pozicija,
                map: map,
                animation: google.maps.Animation.DROP
            }));
        }, timeout);

    }

    function drop() {
        ocistiMarkere();
        for (var i = 0; i < lokacije.length; i++) {
            dodajMarker(lokacije[i], i * 1000);
        }
    }


    function ocistiMarkere() {
        for (var i = 0; i < marker.length; i++) {
            marker[i].setMap(null);
        }
        marker = [];
    }
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 12
        });
        var infoWindow = new google.maps.InfoWindow({map: map});
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                /*infoWindow.setPosition(pos);
                infoWindow.setContent('Vasa lokacija.');*/
                mojaLokacija = new google.maps.Marker({
                    position: pos,
                    map: map,
                    animation: google.maps.Animation.BOUNCE
                });
                drop();
                map.setCenter(pos);
            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                'Error: Doslo je do greske.' :
                'Error: Vas browser ne podrzava geolokaciju.');
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVdH8NKF8NQjTYkSN_MzbDWSMxxt8Q3pQ&callback=initMap">
</script>
</body>
</html>
